body 
{
text-align : center;
background : #2e4335;
background-image: url(download1.jpg);
background-position : center;
}

#break {
	width : 5%;
	height : 5%;
}

#img1{
	
	float : left;
	height : auto;
}


#main{
	width:60%;
	height:auto;
	text-align : center;
	background-color : #7cc576;
	border: 2px solid  white;
	background-position : 50% 50%;
	border-radius: 10;
	margin: 1% auto;
	font-family: verdana;
	padding : 10px;
	overflow: auto;
	clear: left;
	opacity: 0.8;
	Color: white;
	
}

#mission{
	width:60%;
	height:auto;
	text-align : center;
	background-color : #7cc576;
	border: 2px solid white;
	background-position : 50% 50%;
	border-radius: 10;
	margin: 1% auto;
	font-family: verdana;
	padding : 10px;
	overflow: auto;
	clear: left;
	opacity: 0.8;
	color : white;
}

#vision{
	width:60%;
	height:auto;
	text-align : center;
	background-color : #7cc576;
	border: 2px solid white;
	background-position : 50% 50%;
	border-radius: 10;
	margin: 1% auto;
	font-family: verdana;
	padding : 10px;
	overflow: auto;
	clear: left;
	opacity: 0.8;
	color: white;
}

#logos{
	width: 100%;
	height: auto;
}
